*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.class_name{
    height:100vh;
    width:100vw;
    background-color: red;
    border: 2px solid black;
    /* margin:10px; */
}
.basicppt{
    display: block;
    /* display: inline-block;
    display: inline;
    display: none; */
}
.basicppt{
    box-sizing: content-box; /*default*/
    /* box-sizing: border-box; */
    /* padding: 50px; */
    /* padding: 50px 100px; */
    padding: 20px 30px 40px 50px;
    /* padding-left: 50px; */
    height: 500px;
}
.basicppt{
    color: red;
    /* color: #46f31f; */
    /* color: rgb(190, 70, 70);  */
}
.basicppt{
    /* background-image: url(./assets/intro.jpg); 
    background-repeat: no-repeat;
    background-size:cover;
    background-size: contain;
    background-color:rgb(108, 165, 108);  */
    background: green url(./assets/intro.jpg) no-repeat;
}
/* .basicppt{
    border: 5px dashed  yellow;
    border-color: yellow;
    border-top: 5px solid yellow;
    border-bottom: 5px solid yellow;
    border-right: 5px solid yellow;
    border-left: 5px solid yellow;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
} */
/* web safe fonts
The following list are the best web safe fonts for HTML and CSS:

Arial (sans-serif)
Verdana (sans-serif)
Tahoma (sans-serif)
Trebuchet MS (sans-serif)
Times New Roman (serif)
Georgia (serif)
Garamond (serif)
Courier New (monospace)
Brush Script MT (cursive)*/
/* .basicppt{
    font-family:Arial, Helvetica, sans-serif;
    font-family: monospace;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 200;
    font-variant:small-caps;
} */
/* .basicparent{
    font-size: 20px;
}
.basicsize{
    font-size: 2em; 
}
html{
    font-size: 30px;
}
.basicsize{
    font-size: 2rem;
} */

.flex-parent{
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    /* flex-direction: column; */
    /* flex-wrap: wrap;  */
    min-height:100vh;
    min-width:100vw;
    background-color: black;
}
.flex-parent .flex-child{
    height: 100px;
    width:100px;
    padding: 50px;
    margin: 50px;
    background-color: green;
}
@media only screen and (max-width: 450px){
    .flex-parent{
        /* flex-direction: column; */
        flex-wrap: wrap;
        /* margin: 10px; */
    }
}